In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

In [3]:
params = { 'query_text' : 'codes'}

In [5]:
response = requests.get(endpoint,params = params)

In [12]:
code_search = response.json()

In [13]:
df = pd.DataFrame(code_search)

In [16]:
df['query_count']=df['query_count' ]. astype(int)

In [17]:
over100 = df[df['query_count'] > 100]

In [18]:
over100

   month_name  year  query_count query_text month
16    January  2017          115      codes   NaN
19     August  2015          117      codes   NaN
20  September  2015          101      codes   NaN
25   February  2016          121      codes   NaN
27      April  2016          111      codes   NaN
28        May  2016          107      codes   NaN
31     August  2016          104      codes   NaN
36   February  2017          150      codes   NaN
37      March  2017          158      codes   NaN
38      April  2017          190      codes   NaN
39        May  2017          269      codes   NaN
40       June  2017          192      codes   NaN
41       July  2017          215      codes   NaN
42     August  2017          222      codes   NaN
43  September  2017          168      codes   NaN
44    October  2017          206      codes   NaN
45   November  2017          138      codes   NaN
46   December  2017          106      codes   NaN
48      March  2018          185      codes   NaN
49      April  2018          170      codes   NaN
50        May  2018          183      codes   NaN
51       June  2018          204      codes   NaN
52       July  2018          166      codes   NaN
53     August  2018          225      codes   NaN
54  September  2018          171      codes   NaN
55    October  2018          174      codes   NaN
56   November  2018          201      codes   NaN
57    January  2019          129      codes     1
58   February  2019          124      codes     2
59      March  2019          133      codes     3
60      April  2019          168      codes     4
61       June  2019          125      codes     6
62       July  2019          161      codes     7
63     August  2019          156      codes     8
64  September  2019          126      codes     9
65    October  2019          159      codes    10
66   November  2019          134      codes    11
67   December  2019          143      codes    12
68    January  2020          161      codes     1
69      March  2020          164      codes     3
70   February  2020          181      codes     2
71        May  2020          184      codes     5
72       July  2020          164      codes     7
73       June  2020          208      codes     6
74  September  2020          130      codes     9
75     August  2020          178      codes     8
76    October  2020          139      codes    10
77   November  2020          104      codes    11
78   December  2020          165      codes    12
79    January  2021          191      codes     1
80   February  2021          131      codes     2
81      March  2021          134      codes     3
82      April  2021          102      codes     4
83        May  2021          115      codes     5
84       June  2021          138      codes     6
85       July  2021          114      codes     7

In [19]:
bymonth = over100.groupby(['month_name', 'year']).sum()

In [20]:
bymonth

                 query_count query_text month
month_name year
April      2016          111      codes     0
           2017          190      codes     0
           2018          170      codes     0
           2019          168      codes     4
           2021          102      codes     4
August     2015          117      codes     0
           2016          104      codes     0
           2017          222      codes     0
           2018          225      codes     0
           2019          156      codes     8
           2020          178      codes     8
December   2017          106      codes     0
           2019          143      codes    12
           2020          165      codes    12
February   2016          121      codes     0
           2017          150      codes     0
           2019          124      codes     2
           2020          181      codes     2
           2021          131      codes     2
January    2017          115      codes     0
           2019          129      codes     1
           2020          161      codes     1
           2021          191      codes     1
July       2017          215      codes     0
           2018          166      codes     0
           2019          161      codes     7
           2020          164      codes     7
           2021          114      codes     7
June       2017          192      codes     0
           2018          204      codes     0
           2019          125      codes     6
           2020          208      codes     6
           2021          138      codes     6
March      2017          158      codes     0
           2018          185      codes     0
           2019          133      codes     3
           2020          164      codes     3
           2021          134      codes     3
May        2016          107      codes     0
           2017          269      codes     0
           2018          183      codes     0
           2020          184      codes     5
           2021          115      codes     5
November   2017          138      codes     0
           2018          201      codes     0
           2019          134      codes    11
           2020          104      codes    11
October    2017          206      codes     0
           2018          174      codes     0
           2019          159      codes    10
           2020          139      codes    10
September  2015          101      codes     0
           2017          168      codes     0
           2018          171      codes     0
           2019          126      codes     9
           2020          130      codes     9

In [28]:
bymonth['query_count'].sum()

8730